li a {
    color: green;
}

body {
    background: white url("images/background.png") no-repeat;
}

body > ul {
    list-style: none;
}

body > ul > li {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
}

body > ul > li + li {
    margin-top: 5px;
}